<header layout vertical center center-justified>
  <div id="copytext">
    With Streamcards you create websites, apps or blogs with <strong id="service_placeholder"></strong>.
</header>

<section id="how" horizontal layout wrap>

	<div class="container-fw">
		<h2>I want to know more!</h2>
		<input type="text" autofocus="autofocus" placeholder="Enter your email address" />
		<h2>How does streamcards work?</h2>
	</div>
  
	<div class="container-responsive" >
		<div class="step">
			<div class="wrap">
				<h3>Connect your existing accounts</h3>
				<p>Streamcards will work with <strong>Dropbox</strong>, <strong>Google Drive</strong>, <strong>Amazon</strong>, <strong>Facebook</strong>, and <strong>Twitter</strong>. Connecting to your existing services gives you a stream based on everything that's available.</p>
			</div>
		</div>
	  <div class="step">
  	 	<div class="wrap">
				<h3>Build your own stream of contents</h3>
    		<p>Streamcards lets you re-shape your content by filtering and sorting <strong>text and images</strong>, <strong>videos and other documents</strong> and <strong>user information</strong>. This gives you new streams, shaped to your particular needs.</p>
	  	</div>
	  </div>
		<div class="step">
	 		<div class="wrap">
	    	<h3>Orchestrate your content using cards</h3>
  	  	<p>Streamcards uses plugins to create new cards based on whichever content you like. For example <strong>Lists and articles</strong>, <strong>Galleries and content sliders</strong> and <strong>Interactive forms</strong>. Tell the world your own story with streams and cards - easily and magnificent.</p>
  		</div>
  	</div>
	 	<div class="step">
	 		<div class="wrap">
    		<h3>Create beautiful pages</h3>
	    	<p>Streamcards comes with a powerful set of templates, which will transform your streams of cards into beautiful pages. Go, and create <strong>websites</strong>,<strong>blog posts</strong>, <strong>web magazines</strong> and <strong>whatever you imagine</strong>.</p>
  		</div>
  	</div>
  </div>
</section>

<section id="why">
	<h2>Why are we doing this?</h2>
	<div class="container-fw">
		<p>We believe that, although there are numerous other web publishing tools out there, none of them quite fit the bill.</p>
	</div>
	
	<h2>»How's that?« you may ask.</h2>
	<div class="container-fw">
		<p>We think web publishing should not require you to set up any infrastructure.</p>
		<p>Instead, we believe there are so many content sharing tools out there, you certainly don't want to create what would be your own content island.</p>
	</div>
</section>

<section id="tech" horizontal layout wrap>

	<h2>What's under the hood?</h2>
	<div class="container-fw clearfix">
		<section>
			<div>
			<h3>Web components</h3>
	   	<p>Web components are the bulding blocks of new web. Being reusable and highly customizable in their look and feel as well as their functionality.</p>
			</div>
		</section>
	
	<section>
			<div>
		<h3>Flow oriented programming</h3>
    <p>Understanding independent components as actors in a programmatic flow.
			</div>
	</section>

	<section>
			<div>
		<h3>Reactive binding</h3>
    <p>Multiple streams talk to each other via observer/observable pattern. They react upon their actions using independent triggers and asyncronous execution.</p>
			</div>
	</section>
	</div>


	
</section>
<section id="contact">

	<div class="container-fw">

	<section class="text-center">
		<hr>
		<h3>Getting started</h3>
    <p>Use the <a href="#" onClick="jQuery('input').select().focus();">form field above</a> to sign-up to our mailing list or visit our <a href="//github.com/streamcards" target="_blank">github</a> page.</p>
	</section>
	</div>
	</section>

<footer>
  &copy; 2014 by Jakob Hohlfeld
</footer>

