<header layout vertical center center-justified>

  <h1>Willkommen bei Streamcards!</h1>

  <div id="copytext">
    Mit Streamcards erstellen Sie Webseiten und Blogs mit [Dropbox].
  </div>

</header>

<section id="how" horizontal layout wrap>

  <h2>How does it work?</h2>

  <section>
    <h3>1. Connect your Dropbox account</h3>
    <p>Streamcards also works with</p>
    <ul>
      <li>Google Drive</li>
      <li>Amazon</li>
      <li>Facebook</li>
      <li>Twitter</li>
    </ul>
    <p>This gives you a stream based on everything that's available.</p>
  </section>

  <section>
    <h3>2. Build your own stream of contents</h3>
    <p>Streamcards lets you re-shape your content by filtering and sorting</p>
    <ul>
      <li>Text and images</li>
      <li>Videos and other documents</li>
      <li>User information</li>
    </ul>
    <p>This gives you new streams, shaped to your particular needs.</p>
  </section>

  <section>
    <h3>3. Orchestrate your content using cards</h3>
    <p>Streamcards uses plugins to create new cards based on whichever content you like.</p>
    <ul>
      <li>Lists and articles</li>
      <li>Galleries and content sliders</li>
      <li>Interactive forms</li>
    </ul>
    <p>Tell the world your story - easy and magnificent.</p>
  </section>

  <section>
    <h3>4. Create beautiful pages</h3>
    <p>Streamcards comes with a powerful set of templates, which transform your stream of cards intobeautiful pages.</p>
    <ul>
      <li>Web sites</li>
      <li>Blog posts</li>
      <li>Web magazines</li>
      <li>What ever you imagine!</li>
    </ul>
    <p>Tell the world your story - easy and magnificent.</p>
  </section>
</section>

<section id="why">
	<h2>Why are we doing this?</h2>

	<p>We believe that, although there are numerous other web publishing tools out there, none of them quite fit the bill.</p>
	
	<h3><i>How's that?</i> you may ask</h3>
	<p>We find that web publishing shold not require you to set up any infrastructure.</p>
	<p>Instead, we believe there are so many content sharing tools out there, you certainly don't want to create what would be your own content island.</p>
</section>

<section id="tech" horizontal layout wrap>

	<h2>What's under the hood?</h2>

	<section>
		<h3>Web components</h3>
    <p>
    Web components are the bulding blocks of a new web.
    </p>
	</section>

	<section>
		<h3>Flow oriented programming</h3>
    <p>Understanding independent components as actors in a programmatic flow.
	</section>

	<section>
		<h3>Reactive binding</h3>
    <p>Multiple streams talk to each other via observer/observable pattern. They react upon their actions using independent triggers and asyncronous execution.</p>
	</section>

</section>

<footer>
  &copy; 2014 by Jakob Hohlfeld
</footer>

